.footer-f {
  color: #c7c2c2;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 0.2rem;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Montserrat", sans-serif;
  z-index: 1234;
  font-size: 0.775rem;
}
